body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.15rem;
    color: rgb(185, 179, 170);
    background-color: rgb(27, 29, 30);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}
.content-box {
    text-align: center;
    min-height: 450px;
    min-height: 450px;
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    overflow: auto;
}
.box {
    box-shadow: rgba(0, 0, 0, 0.8) 3px 3px 4px;
    background-color: rgb(32, 40, 51);
    padding: 12px;
}
.footer{
    background-color: #0C0C0C;
    text-align: center;
    z-index: 2;
}
.footer-inner {
    padding-top: 40px;
    padding-bottom: 40px;
}
/*---------------------------------------------------*/
.image-block, img{
    box-sizing: border-box;
    height: auto;
    max-width: 100%;
    vertical-align: bottom;
}
img {
    border-style: none;
}
.green {
    color: rgb(90, 255, 75);
}
.red {
    color: rgb(211, 77, 66);
}
.bold {
    font-weight: bold;
}
hr {
    border: none;
    border-top: #fff 2px solid;
}
h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
}
p {
    font-size: 16px;
}
/*---------------------------------------------------*/
button {
    margin: 5px;
    padding: 12px 24px;
    border: none;
    border-radius: 2px;
    background: rgb(40, 43, 45);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.8) 3px 3px 2px;
    cursor: pointer;
    font-weight: 600;
    transition: 50ms ease-out;
}
button:hover, button:focus, button:focus-visible {
    background: #353535;
    box-shadow: rgba(0, 0, 0, 0.8) 3px 3px 2px;
}
button:active {
    background: #181818;
    box-shadow: none;
}
/*---------------------------------------------------*/
table, th, td {
    text-align: center;
    padding: 7px;
    border: 1px solid #fff;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
.copy-body {
    display: inline-block;
    background-color: rgb(65, 71, 73);
    color: #fff;
    padding-left: 7px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 7px;
}
.copy-button, .copy-text {
    display: inline-block;
}
details > summary {
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(50, 54, 56);
    color: white;
    cursor: pointer;
    font-weight: bold;
    padding: 4px;
    box-shadow: rgba(0, 0, 0, 0.6) 3px 3px 4px;
}
@media only screen and (min-width: 700px) {
    details > summary {
        margin-left: 40%;
        margin-right: 40%;
    }
}
details[open] {
    background-color: rgb(50, 54, 56);
    color: white;
    padding-left: 4px;
    padding-right: 4px;
}
details[open] > summary {
    box-shadow: none;
}
/*---------------------------------------------------*/
.card {
    float: left;
    width: 30.7%;
    height: auto;
    display: inline-grid;
    background-color: #111111;
    color: white;
    border-radius: 1rem;
    border: 2px solid gray;
    padding: 0px;
    margin-left: 20px;
    margin-bottom: 20px;
    transition: transform 0.2s ease, width 0.2s ease, height 0.2s ease;
}
.card-image {
    height: 200px;
    position: relative;
    overflow: hidden;
}
.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.card:hover {
    transform: scale(1.1);
}
@media only screen and (max-width: 700px) {
    .card {
        width: 94%;
        padding: 0px;
        margin-left: 12px;
        margin-bottom: 20px;
    }
}